openapi: '3.0.0'
info:
  version: 1.0.0
  title: Дмитрий Белоусов
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /entries:
    get:
      summary: List all entries
      operationId: listEntries
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of entries
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entries'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create an entry
      operationId: createEntries
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entries/{entryId}:
    get:
      summary: Info for an entry
      operationId: showEntryById
      parameters:
        - name: entryId
          in: path
          required: true
          description: The id of the entry to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entries'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Entry:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        tag:
          type: string
    Entries:
      type: array
      items:
        $ref: '#/components/schemas/Entry'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string